@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* Universal selector */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
}

.li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500 ;
    font-size: 30px;
    color: teal;
    text-decoration: none;
}

.header {
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;

}

.main_header {
    margin-right: auto;
    margin-left: 0;
    background-color: teal;
    border: solid black;
    box-shadow: 10px 5px black;
}
h1 {
    font-size: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.main_header:hover {
   color: lightgray;
}


.nav_content {
    list-style: none;    
}

.nav_content li {
    display: inline-block;
    padding: 0px 10px
}

.nav_content li a:hover {
    color:black ;
}



.resume_button {
    width: 150px;
    height: 45px;
    background-color: transparent;
    border: solid teal;
    border-radius: 50px;
    text-align: center;    
}

.resume_button:hover{
    background-color: teal;
    color: lightgrey;
}


.content div img{
    height: auto;
    max-width: 25%;
    margin: 20px;
    margin-right: 20px;
    float: right; 
    ;
}
.content {
font-size: 30px;
text-align: bottom;

}

.content div p {
    display: block ;
    margin: 20px;

}
.hero {
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 70%;
}

/* styling for work section */
.project {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    

    
}
.project div {
    border-style: solid;
    border-color: teal;
    width: 500px;
    height: 300px;
}



.project1 {
    background-image: url(../images/placeholder-surfreport-img.jpg);
    background-size: cover;
    flex: 5 1 1 1 1

}

.project h2  {
    background-color: teal;
    text-align: left;
}

.project p {
    background-color: teal;
    text-align: left;
}
.project2 {
    background-image: url(../images/placeholder-ledwall-img\ .jpeg);
    background-position: center;
    flex:1;
}
.project3 {
    background-image: url(../images/placeholder-calculator-img.jpeg);
    flex: 1;
}
.project4 {
    background-image: url(../images/placeholder-pastelpuzzle-img.webp);
    flex: 1;
}
.project5 {
    background-image: url(../images/placeholder-runbuddy-img.webp);
    flex: 1;
}

@media screen and (max-width:992px) {
    .project {
        width: 50%;
    }
    .header {
        background: brown;
    }
    
}
@media screen and (max-width: 768px) {
    .project {
        width: 100%   
    }
    .header {
        background: blue;
    }
}

.contact {
    text-align: center;
    padding: 20px;
}
.contact a {
    text-decoration: underline;
    margin-left: 25px;
}

.contact a:hover {
    color: black;
}
  
/* styling for footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}