@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* Universal selector */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
}
/*styles the contents on nav bar*/
.li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500 ;
    font-size: 30px;
    color: teal;
    text-decoration: none;
}
/* styles the header */
.header {
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}
/* styles the main heading */
.main_header {
    margin-right: auto;
    margin-left: 0;
    background-color: teal;
    border: solid black;
    box-shadow: 10px 5px black;
}
/* styles the section headings*/
h1 {
    font-size: 50px;
    margin-right: 20px;
    margin-left: 20px;
}
/* applies the hover pseudo-class to heading*/
.main_header:hover {
   color: lightgray;
}
/* removes list marker*/
.nav_content {
    list-style: none;    
}
/* displays nav bar horizontally*/
.nav_content li {
    display: inline-block;
    padding: 0px 10px
}
/* apllies hover psudo-class to nav bar contents*/
.nav_content li a:hover {
    color:black ;
}
/* styles the nav bar button*/
.resume_button {
    width: 150px;
    height: 45px;
    background-color: transparent;
    border: solid teal;
    border-radius: 50px;
    text-align: center;    
}
/* applies hover pseudo-class to button*/
.resume_button:hover{
    background-color: teal;
    color: lightgrey;
}
/* styles the image in content class in about me section*/
.content div img{
    height: auto;
    width: 100%;
    border: solid black;
}
/* styles the content class in about me section*/
.content {
padding: 20px 0px;
display: flex;
align-items: center;

}
/* styles the hero class in about me section*/
.hero {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;  
}
/*styles the info class*/
.info { 
    width: 70%;
}
/* styles the paragraphs in the content class in about me section*/
.content div p {
    margin: 20px;
    font-size: 35px;
}
/* styles the profile class*/
.profile {
    width: 30%;
}

/* styles all the divs in the project class in work section  */
.project1 {
    background-image: url(../images/The\ Weather\ dj\ screenshot.gif);
    background-position: center center;
    background-size: cover;
    font-size: 20px;
    width: 125%;
    height: 600px;
    margin: 10px 0px;

}

.project-2-link{
    width: 49%;
}

.project2-heading{
    font-size: 1.5rem;
    color: black;
}

.project2-paragraph{
    font-size: 1rem;
    color: black;
}

.project2 {
    background-image: url(../images/Shift\ wiz\ screenshot.png);
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-right: 2px;
    margin-bottom: 10px;
    
}
.project-3-link{
    width: 50%;
}

.project3-heading{
    font-size: 1.5rem;
    color: black;
}

.project3-paragraph{
    font-size: 1rem;
    color: black;
}
.project3 {
    background-image: url(../images/tots2treasures\ screenshot.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.project4 {
    background-image: url(../images/placeholder-pastelpuzzle-img.webp);
    width: 49%;
    height: 300px;
    margin-right: 2px;
}
.project5 {
    background-image: url(../images/placeholder-runbuddy-img.webp);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 300px;
}

.project_link {
    color: black;
    width: 80%;
}
/* allows the project class to be responsive*/
.project {
    display: flex;
}
/* styles the project name class in work section*/
.project_name {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center; 
    margin-right: 50px;  
    width: 100%;
}
/* adjusts the project heading*/
.project h1 {
    margin-right: 50px;
}
/* adds color and boder to divs in project class*/
.project div {
    border-style: solid;
    border-color: teal; 
}
/* adjusts subheadings in project section*/
.project h2  {
    background-color: teal;
    text-align: left;
}
/* styles paragraphs in project section*/
.project p {
    background-color: teal;
    text-align: left;
}
/* moves contact me section to the center*/
.contact {
    text-align: center;
    padding: 20px;
}
/* underlines the links in the contact me section*/
.contact a {
    text-decoration: underline;
    margin-left: 25px;
}
/* adds hover pseudoclass to links in contact me section*/
.contact a:hover {
    color: black;
}
/* provides responsive designs for smaller screens*/
@media screen and (max-width:1210px) {
    
    .project {
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
   

    .main_header {
        margin-right: 15px;
    }

    .nav_content {
        margin-right:2px;
    
    } 
    .nav_content li {
        display:block;
        float:left;
    }
    .content {
        flex-direction: column;
        text-align:center;
    }
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }
}
@media screen and (max-width: 639px) {
    .project {
        width: 100%   
    }

    .header {
        flex-direction: column;
        text-align: center;
    }
}


  
/* styling for footer */
.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}