@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* Universal selector */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: lightgrey;
}

.li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500 ;
    font-size: 30px;
    color: teal;
    text-decoration: none;
}

/* styles the header */
.header {
    display: flex ;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;

}
/* styles the main heading */
.main_header {
    margin-right: auto;
    margin-left: 0;
    background-color: teal;
    border: solid black;
    box-shadow: 10px 5px black;
}
h1 {
    font-size: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.main_header:hover {
   color: lightgray;
}


.nav_content {
    list-style: none;    
}

.nav_content li {
    display: inline-block;
    padding: 0px 10px
}

.nav_content li a:hover {
    color:black ;
}



.resume_button {
    width: 150px;
    height: 45px;
    background-color: transparent;
    border: solid teal;
    border-radius: 50px;
    text-align: center;    
}

.resume_button:hover{
    background-color: teal;
    color: lightgrey;
}


.content div img{
    height: auto;
    width: 100%;
    border: solid black;
}
.content {
padding: 20px 0px;
display: flex;
align-items: center;

}

.hero {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;  
}

.info { 
    width: 70%;
}
.content div p {
    margin: 20px;
    font-size: 35px;
}

.profile {
    width: 30%;
}


/* styling for work section */

.project1 {
    background-image: url(../images/placeholder-surfreport-img.jpg);
    background-size: cover;
    font-size: 20px;
    width: 125%;
    height: 300px;
    margin: 10px 0px;

}

.project2 {
    background-image: url(../images/placeholder-ledwall-img\ .jpeg);
    background-position: center;
    width: 49%;
    height: 300px;
    margin-right: 2px ;
    margin-bottom: 10px;
    
}
.project3 {
    background-image: url(../images/placeholder-calculator-img.jpeg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 300px;
    margin-bottom: 10px;
}
.project4 {
    background-image: url(../images/placeholder-pastelpuzzle-img.webp);
    width: 49%;
    height: 300px;
    margin-right: 2px;
}
.project5 {
    background-image: url(../images/placeholder-runbuddy-img.webp);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 300px;
}

.project_link {
    color: black;
    width: 80%;
}

.project {
    display: flex;


}
.project_name {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center; 
    margin-right: 50px;  
    width: 100%;
}

.project h1 {
    margin-right: 50px;
}
.project div {
    border-style: solid;
    border-color: teal;
    
}


.project h2  {
    background-color: teal;
    text-align: left;
}

.project p {
    background-color: teal;
    text-align: left;
}

.contact {
    text-align: center;
    padding: 20px;
}
.contact a {
    text-decoration: underline;
    margin-left: 25px;
}

.contact a:hover {
    color: black;
}
@media screen and (max-width:1210px) {
    
    .project {
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 10px;
    }
   

    .main_header {
        margin-right: 15px;
    }

    .nav_content {
        margin-right:2px;
    
    } 
    .nav_content li {
        display:block;
        float:left;
    }
    .content {
        flex-direction: column;
        text-align:center;
    }
    .hero {
        flex-direction: column-reverse;
        text-align: center;
    }
}
@media screen and (max-width: 639px) {
    .project {
        width: 100%   
    }

    .header {
        flex-direction: column;
        text-align: center;
    }
}


  
/* styling for footer */
.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}